@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root>	
    <div class="table">
        <div class="header row">
            <div class="name">Player</div>
            <div class="stat">Kills</div>
            <div class="stat">Wins</div>
            <div class="stat">Deaths</div>
        </div>

        @foreach (Connection entry in Connection.All)
        {
            var playerInfo = PlayerInfo.FromConnection(entry);
            if (!IsFullyValid(playerInfo))
                continue;

            string specialClass = "other";
            if (entry == Connection.Local) specialClass = "me";

            <div class="row">
                <div class="avatar" style="background-image: url(avatar:@entry.SteamId)">
                    @if (entry.IsHost)
                    {
                        <div class="host">👑</div>
                    }
                </div>
                <img class="rank @specialClass" style="background-image: url(ui/ranks/r001.tga)">
                <div class="name @specialClass">@entry.DisplayName</div>
                <div class="stat @specialClass">@playerInfo.killCount</div>
                <div class="stat @specialClass">@playerInfo.winCount</div>
                <div class="stat @specialClass">@playerInfo.deathCount</div>
            </div>
        }

    </div>

</root>

@code
{
    protected override void OnUpdate()
    {   
        //SetClass("hidden", false);
        SetClass("hidden", !Input.Down("score"));
    }

    /// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
